<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Pay My Buddy - Home</title>
  <link rel="stylesheet" type="text/css"
        href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript"
          src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="padding-top: 160px">
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1>
      <a class="navbar-brand" th:href="@{/}">Pay My Buddy</a>
    </h1>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul
          class="navbar-nav mr-auto mt-2 mt-lg-0 container-fluid justify-content-end">
        <li class="nav-item"><a class="Btn_link btn btn-success mr-2"
                                th:href="@{/transfer}">Transfer</a></li>

        <li class="nav-item"><a class="Btn_link btn btn-success mr-2"
                                th:href="@{/profile}">Profile</a></li>

        <li class="nav-item"><a class="Btn_link btn btn-success mr-2"
                                th:href="@{/contact}">Contact</a></li>

        <li class="nav-item"><a class="Btn_link btn btn-success mr-2"
                                th:href="@{/logout}">Log off</a></li>

      </ul>
    </div>
  </nav>
</header>

<section class="row col-12 encart d-flex justify-content-center">
  <form
      class="col col-sm-10 col-md-8 col-lg-3 encart d-flex flex-column align-items-center"
      style="border: solid 2px; border-radius: 7px; padding: 25px; color: grey"
      th:action="@{/contact_action}" method="POST">
    <input class="form-control mb-4" type="text" name="contact" placeholder="Contact to add"
           required th:name="connection">

    <button style="margin-top: 75px" type="submit"
            class="Btn_link btn btn-success">Add
    </button>
  </form>
</section>


</body>
</html>