<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Pay My Buddy - Home</title>
  <link rel="stylesheet" type="text/css"
        href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript"
          src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="padding-top: 160px">
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1>
      <a class="navbar-brand" th:href="@{/}">Pay My Buddy</a>
    </h1>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul
          class="navbar-nav mr-auto mt-2 mt-lg-0 container-fluid justify-content-end">
        <li class="nav-item mx-2"><a class="Btn_link btn btn-success mr-2"
                                     th:href="@{/transfer}">Transfer</a></li>

        <li class="nav-item mx-2"><a class="Btn_link btn btn-success mr-2"
                                     th:href="@{/profile}">Profile</a></li>

        <li class="nav-item mx-2"><a class="Btn_link btn btn-success mr-2"
                                     th:href="@{/contact}">Contact</a></li>

        <li class="nav-item mx-2"><a class="Btn_link btn btn-success mr-2"
                                     th:href="@{/logout}">Log off</a></li>

      </ul>
    </div>
  </nav>
</header>

<section class="row col-12 encart d-flex justify-content-around">
  <form
      class="col col-sm-6 col-md-4 col-lg-2 d-flex flex-column align-items-center mt-2 pt-2 border mx-2 px-2"
      th:action="@{/contact_action}" method="POST">
    <input class="form-control  mt-2 pt-2 mx-2 px-2 mb-4" type="text" name="contact"
           placeholder="Write the name of your contact"
           required th:name="connection">

    <button type="submit"
            class="mt-3 mb-2 btn btn-success">Add
    </button>
  </form>
  <div
      class="col col-sm-6 col-md-4 col-lg-2 encart d-flex flex-column align-items-center border mx-2 px-2">
    <h3>Contacts You Can Add</h3>
    <table class="table table-success table-striped">
      <th:block th:each="contact : ${usernames}" class="table-info">
        <tr>
          <td class="table-info" th:text="${contact}"></td>
        </tr>
      </th:block>
    </table>
  </div>
  <div
      class="col col-sm-6 col-md-4 col-lg-2 encart d-flex flex-column align-items-center border mx-2 px-2">
    <h3>Existing Contacts</h3>
    <table class="table table-success table-striped">
      <th:block th:each="contact : ${user.contacts}" class="table-info">
        <tr>
          <td class="table-info" th:text="${contact.getUserName}"></td>
        </tr>
      </th:block>
    </table>
  </div>
</section>


</body>
</html>