<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Error Page</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="padding-top : 160px">
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1>
      <a class="navbar-brand" th:href="@{/}">Pay my Buddy</a>
    </h1>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 container-fluid justify-content-end">
        <li class="nav-item">
          <a class="Btn_link btn btn-success mr-2" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item">
          <a class="Btn_link btn btn-success mr-2" th:href="@{/register}">Register</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="container-fluid mt-15 ">
  <div class="d-flex flex-column align-items-center">
    <h1>Resource not available 404</h1>
    <a th:href="@{/transfer}">Back to Home Page</a>
    <div class="row row-no-pm container-fluid justify-content-center">
      <div class="col-lg-8 d-flex justify-content-center">
        <img
            src="https://image.freepik.com/vecteurs-libre/personnes-utilisant-banque-mobile-pour-transfert-argent_74855-6617.jpg"/>
      </div>
    </div>
  </div>
</section>
</body>
</html>